---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content } from '../privacy-policy.mdx';
---

<BaseLayout title="Privacy Policy - Embedded Discord Bot" description="Privacy Policy for Embedded Discord Bot">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-16 text-white">
    <div class="prose prose-invert max-w-none">
      <Content client:load />
    </div>
  </div>
</BaseLayout>